img {
    width: 150px;
    height: 150px;
    padding: 2em;
    object-fit: contain;
    cursor: pointer;
}

#divPlayer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    border: 2px solid #26abff;
    width: 1400px;
    height: 300px;
    margin-bottom: 30px;
}

#divIa {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    width: 1400px;
    height: 300px;
    margin-top: 30px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.highlight {
    background-color: #26abff;
}

#restart {
    display: none;
    margin-top: 2em;
    background-color: #98d8d8;
    border: 1px solid #638d8d;
    width: 10rem;
    height: 3rem;
    transition: 2s;
}
#restart:hover {
    background-color: #638d8d;
}

h1 {
    text-align: center;
}

body {
    background-image: url("../img/arena.jpg");
    background-size: cover;
    object-fit: cover;
    color: antiquewhite;
}

#score {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 3em;
}

#battle {
    background-color: #98d8d8;
    border: 1px solid #638d8d;
    width: 10rem;
    height: 3rem;
    color: black;
    transition: 2s;
}
#battle:hover {
    background-color: #638d8d;
}
